#!/usr/bin/make -f

#export DH_VERBOSE=1

SYSTEM_GEMS := ruby-eventmachine ruby-sqlite3 ruby-mysql2 ruby-charlock-holmes bundler


%:
	dh $@

override_dh_auto_build:
	mkdir -p vendor/bundle/ruby/1.9.1/specifications
	for pkg in $(SYSTEM_GEMS); do \
	  gemspecs=$$(dpkg -L $$pkg |grep /usr/share/rubygems-integration/1.9.1/specifications/.*.gemspec); \
		[ -z "$$gemspecs" ] || ln -s $$gemspecs vendor/bundle/ruby/1.9.1/specifications/; \
	done
	GIT_SSL_NO_VERIFY=true ruby1.9.1 $(shell which bundle) install --without development test postgres --deployment
	sed -i -e 's/python2/python/' vendor/bundle/ruby/1.9.1/bundler/gems/pygments.rb-*/lib/pygments/mentos.py
	rm -rf vendor/bundle/ruby/1.9.1/cache

override_dh_gencontrol:
	echo -n "systemgems:Depends=" >>debian/gitlab-bundle.substvars
	for pkg in $(SYSTEM_GEMS); do \
	  dpkg-query -f '$${Package} (= $${Version}), ' -W $$pkg >>debian/gitlab-bundle.substvars; \
	done; \
	echo >>debian/gitlab-bundle.substvars
	sed -i -Ee 's/^(systemgems:Depends=.*), $$/\1/' debian/gitlab-bundle.substvars
	dh_gencontrol

override_dh_compress:
	dh_compress -X usr/share/doc/gitlab/doc/

override_dh_clean:
	dh_clean -X config/unicorn.rb.orig
	rm -rf vendor/bundle .bundle

